.cadastro{
    background-color: #ecf0f1;
    height: 79.4vh;
}

.pag-cadastro{
    font-family: 'Nunito Sans', sans-serif;
    float: left;
    width: 45%;
    padding-top: 5vh;
}

.pag-cadastro .input_cadastro{
    width: 100%;
    height: 3.5vh;
    display: inline-block;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.btn_cadastrar{
    color: white;
    background-color: green;
    border: 0;
    padding: 1vh 2vh;
    margin-top: 2vh;
    border-radius: 0.3rem;
    float: left;
    cursor: pointer;
}

.imagem{
    float: right;
}

.imagem img{
    padding-top: 10vh;
}

.footer{
    background-color: orangered;
}