.pag-login{
    background-color: #ecf0f1;
    text-align: center;
    padding: 18.8vh 0;
    font-family: 'Nunito Sans', sans-serif;
}

.box-login{
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 5.5vh 2vw;
    border-radius: 1.5rem;
    width: 35vh;
}

.pag-login .input_padrao{
    width: 60%;
    height: 2.8vh;
    display: inline-block;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.btn-green{
    color: white;
    background-color: green;
    border: 0;
    padding: 1vh 2vh;

    border-radius: 0.3rem;
    float: left;
    cursor: pointer;
}

.pag-login .btn-green{
    display: block;
    float: none;
    margin: 2vh auto;
}

.footer_login{
    background-color: orangered;
    width: 100%;
    height: 12vh;
    padding-top: 10px;
}

.container_footer h4{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-align: center;
}