@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: white;
}

/*---------------------------- HEADER ----------------------------*/
/*div geral do cabeçalho*/
.header{
    background-color: #232323;
    width: 100%;
    height: 10vh;
    padding-top: 10px;
    border-bottom: 0.5vh solid orangered;
}

/*div que tem a logo e a nav juntos*/
.container{
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
}

/*formatação da logo*/
.logo{
    font-family: 'Nunito Sans', sans-serif;
    float: left;
    color: white;
}

/*colorindo certas partes da pag*/
.item_colorido{
    color:orangered;
}

/*formatação da nav*/
.container nav {
    color: white;
    list-style: none;
    float: right;
    margin-top: 15px;
}

/*formatação dos itens dentro da nav*/
.container li{
    display: inline-block;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}


/*---------------------------- APRESENTAÇÃO ----------------------------*/
.apresentacao{
    text-align: center;
    background-size: cover;
    background-image: url("../img/team2.jpg");
    background-repeat: no-repeat;
    min-height: 50vh;
}

.container .titulo_apres{
    font-family: 'Nunito Sans', sans-serif;
    color: orangered;
    padding-top: 15vh;
    font-size: 3.5rem;
    margin: 0;
}

.container p{
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 40px;
    font-size: 1.3rem;
}

/*div geral das atualizações*/
.att{
    background-color: #232323;
    width: 100%;
    height: 10vh;
    padding-top: 10px;
}

.container_att {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}

/*reutilizei as formatações pra logo e do container do header*/
/*fiz uma classe que junta o input e o botão*/
.container_att .inp_btn{
    float: right;
    margin-top: 30px;
}

/*formatação do input*/
.container_att .inp_att{
    height: 22px;
}

/*formatação do botão*/
.container_att .btn_enviar{
    height: 3vh;
    background-color: orangered;
    color: white;
}

/*---------------------------- ATUALIZAÇÕES e MVV ----------------------------*/
/*reutilizei o conteiner atualização*/
.container_att img{
    width: 15vh;
    margin: 2vh auto;
}

.img_text{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    display: inline-block;
    width: 20vw;
    margin: 5vh 1.49vw;
}


/*---------------------------- FOOTER ----------------------------*/
.footer{
    background-color: orangered;
    width: 100%;
    height: 8vh;
    padding-top: 10px;
}

.container_footer h4{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-align: center;
}